<!-- header section starts  -->
<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><span>T</span>ravel</a>
    <nav class="navbar">
        <a routerLink="home">home</a>
        <a routerLink="">packages</a>
        <a routerLink="gallery">gallery</a>
        <a routerLink="contact">contact us</a>
        <a routerLink="loge-in"> log in</a>
    </nav>

    <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>


        <button class="btn my-2 my-sm-0" routerLink="/cart"> Basket </button>
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for="search-bar" class="fas fa-search"></label>
    </form>



</header>

<!-- header section ends -->

<!-- login form container  -->

<!-- <div class="login-form-container">

    <i class="fas fa-times" id="form-close"></i>

    <form action="">
        <h3>login</h3>
        <input type="email" class="box" placeholder="enter your email">
        <input type="password" class="box" placeholder="enter your password">
        <input type="submit" value="login now" class="btn">
        <input type="checkbox" id="remember">
        <label for="remember">remember me</label>
        <p>forget password? <a href="#">click here</a></p>
        <p>don't have an account? <a href="#">register now</a></p>
    </form>

</div> -->

<!-- login form container ends  -->