<div class="loge">

    <h1 class="heading">
        <span>L</span>
        <span>O</span>
        <span>G</span>
        <span class="space"></span>
        <span>I</span>
        <span>N</span>
    </h1>

    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Login </span></div>
            <form action="#">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Email or Phone" required>
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" required>
                </div>

                <div class="row button">
                    <input type="submit" value="Login">
                </div>
                <div class="pass"><a href="#">Forgot password?</a></div>
                <div class="signup-link">don't have an account? <a href="#">register now</a></div>
            </form>
        </div>
    </div>




    <!-- 
    <div class="login">
        <input type="email" class="box" placeholder="enter your email">
        <input type="password" class="box" placeholder="enter your password">
        <input type="submit" value="login now" class="btn">
        <input type="checkbox" id="remember">
        <label class="remember">remember me</label>
        <p>forget password? <a href="#">click here</a></p>
        <p>don't have an account? <a href="#">register now</a></p>

    </div>
</div> -->